@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inika", serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(211, 198, 198);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 700px;
    background-color: #ff7a00;
    display: flex;
    border-radius: 12px;
}
/* login section started here  */
.login-section{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login-section h1{
    font-size: 3rem;
    font-weight: 699;
    color: #ffffff;
    margin-top: 25px;
}
.login-section .input-box{
    position: relative;
    height: 17%;
    width: 80%;
    margin-top: 10px;
    border-bottom: 2px solid #ffffff;
    transition: .5s;
}
/* .input:user-valid + .label,
.input::first-line + .label{
    top:-8px;
    font-size: 0.8rem;
} */
.input-box .input{
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 35px 0 10px;
    font-size: 1rem;
}
.input::placeholder{
    color: black;
}
.input-box span img{
    position: absolute;
    bottom: 5px;;
    right: 5px;
    height:20px;
    width:20px;
}
.input-box .label{
    position: absolute;
    bottom: 5px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}
.login-btn{
    height: 12%;
    width: 100%;
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-btn button{
    height: 100%;
    width: 60%;
    border-radius: 12px;
    border: none;
    outline: px solid #fff;
    background-color: #ff7a00;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 6px 6px 10px #d07d2f, -6px -6px 10px #fa9a41;
    cursor: pointer;
}
.login-btn button:active {
    transform: translate(1px, 1px);
  }
  .forget-password{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
  }
  .forget-password div p{
    color: #ffffff;
    margin-right: 5px;
  }
  .forget-password  a{
    text-decoration: none;
    color: #ffff;
    font-size: 0.8rem;
  }
/* image container stated here  */
.image-section{
    position: relative;
    height: 100%;
    width:  35%;
    background-color: #fff;
    border-radius: 25px 12px 12px 25px;
}
.image-section img{
    position: absolute;
    height: 100%;
    right: -9.5px;
    bottom: -8px;
}
.pic{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.pic img{
    height: 80%;
}