* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
height: 590px;
width: 1000px;
background-color: #ff7a00;
border-radius: 30px;
display: flex;

}
.login-box{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-box h1{
    font-size:3rem;
    color:#fff;
    margin-bottom: 60px;
    
}
.textbox{
    margin-top: 30px;
    position:relative;
    width: 80%;
    height:10%;
    margin-bottom: 50px;
   
    border-bottom: 1px solid;
}
.textbox input{
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 2rem;
}
.textbox input::placeholder{
    font-size: 20px;
    position: absolute;
    left:8px;
    top:15px;
    pointer-events:none;
    color: black;
}

.submit button{
    height: 50px;
    width: 140px;
    border-radius: 30px;
    font-size: 30px;
    border: none;
    color: #ff7a00;
    font-family: serif;
}
span{
    position: absolute;
    top:15px;
    
    right: 5px;
}
span img{
    height:30px;
    width: 30px;
}
.pic{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.pic img{
    height: 80%;
}