@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inika", serif;
}
/* main grid section */
.full-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 15% 85%;
  place-self: start;
}
.full-container .top-section {
  background-color: #ffffff;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-container .left-section {
  background-color: #ffffff;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.full-container .main-section {
  background-color: #ff7a00;
  grid-column-start: 2;
  display: flex;
  justify-content: start;
  flex-direction: column;
  border-top-left-radius: 3px;
}
/* grid complete */
/* top section started */
.top-section .dashboard span {
  color: #ff7a00;
  font-family: Inika;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 60px;
}

.top-section .college-detial {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-section .college-detial span {
  color: #ff7a00;
  margin-right: 20px;
  font-family: Inika;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top-section .college-detial img {
  height: 70px;
  width: 70px;
}
/* left section started here  */
.left-section .user-name-section {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-section .user-name-section .circle {
  background-color: rgb(220, 220, 220);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-section .user-name-section .circle img {
  height: 35px;
  width: 35px;
}
.left-section .user-name-section span {
  font-size: 0.9rem;
}
.left-section .menu-section .each-menu {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  text-align: left;
}
.left-section .menu-section .each-menu img {
  height: 20px;
  width: 20px;
  margin-right: 14px;
}
.left-section .menu-section .each-menu a {
  text-decoration: none;
  color: #ff7a00;
  font-size: 1.2rem;
  font-weight: 600;
}
.left-section .logout-section {
  margin-bottom: 20px;
  width: 90px;
  display: flex;
  align-items: center;
}
.left-section .logout-section span img {
  height: 22px;
  margin-top: 5px;
  width: 22px;
}
.left-section .logout-section a {
  text-decoration: none;
  color: red;
  font-size: 1.2rem;
  font-weight: 600;
}
/* main section started here  */
.add-student {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.add-student button {
  padding: 15px 70px;
  margin-right: 85px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #ff7a00;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 6px 6px 10px #d07d2f, -6px -6px 10px #fa9a41;
  cursor: pointer;
}
.add-student button:active {
  transform: translate(1px, 1px);
}
.card-box {
  height: 70%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
/* attendence card started here */
.card-box .card {
  background-color: #ff7c01;
  height: 100%;
  outline: 2px solid #f97901;
  width: 25%;
  box-shadow: 6px 6px 20px #bd6d22, -6px -6px 20px #ffb66d;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card .topic {
  width: 80%;
  text-align: center;
  margin-top: 20px;
}
.card .topic h1 {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}
.card span {
  width: 80%;
  color: #ffffff;
  text-align: start;
  margin-top: 15px;
}
.card .sem-box-section {
  height: 50%;
  margin-top: 25px;
  width: 100%;
  display: grid;
  grid-template-columns: 22% 22% 22%;
  grid-template-rows: 22% 22% 22% 22%;
  gap: 10px;
  justify-content: center;

}
.sem-box-section .small-box{
  background-color: #ff8000;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 6px 6px 7px #bd6d22, -6px -6px 7px #f8912a;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
}
.card button{
  width: 80%;

  height: 15%;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #ff7a00;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 6px 6px 10px #d07d2f, -6px -6px 10px #fa9a41;
  cursor: pointer;
}
.card button:active{
  transform: translate(1px, 1px);
}
/* notice card started here/* 
