@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Poppins:wght@200;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #ffdddd;
}
.animate-circles {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.animate-circles div {
  position: absolute;
  background-color: rgb(255, 165, 165);
  height: 20px;
  width: 20px;
  bottom: -150px;
  display: block;
  animation: animate 15s linear infinite;
}
@keyframes animate {
  0% {
    opacity: 1;
    border-radius: 5%;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    opacity: 0;
    border-radius: 50%;
    transform: translateY(-1000px) rotate(720deg);
  }
}
.animate-circles div:nth-child(1) {
  left: 20%;
  height: 40px;
  width: 40px;
  animation-delay: 1s;
}
.animate-circles div:nth-child(2) {
  left: 10%;
  bottom: -200px;
  height: 70px;
  width: 70px;
  animation-delay: 10s;
}
.animate-circles div:nth-child(3) {
  left: 7%;
  height: 20px;
  width: 20px;
  animation-delay: 7s;
}
.animate-circles div:nth-child(4) {
  left: 18%;
  height: 35px;
  width: 35px;
  animation-delay: 12s;
}
.animate-circles div:nth-child(5) {
  right: 18%;
  height: 80px;
  width: 80px;
  animation-delay: 5s;
}
.animate-circles div:nth-child(6) {
  right: 4%;
  height: 60px;
  width: 60px;
  animation-delay: 7s;
}
.animate-circles div:nth-child(7) {
  right: 50%;
  height: 100px;
  width: 100px;
  animation-delay: 9s;
}
.animate-circles div:nth-child(8) {
  left: 25%;
  bottom: -200px;
  height: 70px;
  width: 70px;
  animation-delay: 17s;
}
.animate-circles div:nth-child(9) {
  right: 13%;
  bottom: -200px;
  height: 70px;
  width: 70px;
  animation-delay: 17s;
}
.animate-circles div:nth-child(10) {
  right: 35%;
  height: 80px;
  width: 80px;
  animation-delay: 13s;
}

.header {
  background-color: #fff;
  position: fixed;
  padding: 0 150px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 10px #fdbcbc;
  z-index: 2;
}

.header .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h2 a {
  text-decoration: none;
  color: #5e006d;
  font-size: 2rem;
  font-weight: 600;
}

.title img {
  margin-right: 7px;
  height: 50px;
  width: 50px;
}

.title h2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: #5e006d;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  position: relative;
  margin-right: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.nav ul li a {
  text-decoration: none;
  color: #5e006d;
}
.nav ul li::after {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  content: " ";
  height: 2px;
  width: 100%;
  background-color: #5e006d;
  transform: scale(0);
  transition: 0.5s ease-in-out;
}
.nav ul li:hover::after {
  transform: scaleX(1);
}

/* header end  */
.main {
  height: 100vh;
  padding: 0 150px;
  width: 100%;
  background-color: #ffdddd;
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.main-container .left-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.left-section .text-container {
  width: 100%;
  height: auto;
  margin-top: 15%;
}

.text-container h3 {
  font-size: 35px;
  color: #5e006d;
  margin-bottom: -18px;
}

.text-container h2 {
  font-size: 55px;
  color: #5e006d;
  margin-bottom: -18px;
}

.text-container .btn {
  display: flex;
  margin-top: 30px;
  height: 40px;
  gap: 20px;
}

.btn button {
  height: 100%;
  width: 190px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #9505ac;
  color: #ffff;
  transition: 0.5s;
  cursor: pointer;
}

.btn button:hover {
  transform: scale(1.1);
  background-color: #bc04d8;
}

/* left section end  */
.main-container .right-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.shapes {
  height: 500px;
  width: 500px;
  margin-top: 15%;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px 250px;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  margin-right: 0px;
}

.shapes .shap {
  height: 230px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shapes .circle {
  border-radius: 50%;
  overflow: hidden;
}

.shapes .semi-rectangle {
  border-radius: 30% 0;
  overflow: hidden;
}

.shapes .circle img {
  padding: 20px;
  height: 270px;
  background-size: cover;
  background-position: center;
  transition: 2s ease;
}
.shapes .circle img:hover {
  transform: scale(1.1);
}

.shapes .semi-rectangle img {
  padding: 20px;
  height: 270px;
  background-size: cover;
  background-position: center;
  transition: 2s ease;
}
.shapes .semi-rectangle img:hover {
  transform: scale(1.1);
}

.shapes .red {
  background-color: #f47272;
}

.shapes .pink {
  background-color: #efaee8;
}

.shapes .skyblue {
  background-color: #a1e8f1;
}

.shapes .blue {
  background-color: #767add;
}

/* main section end  */
footer {
  padding: 0 150px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid rgb(241, 188, 188);
}
footer .social-media-footer {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
.social-media-footer a i {
  font-size: 1.5rem;
  color: #5e006d;
  transition: 0.5s ease-in-out;
}
.social-media-footer a i:hover {
  transform: scale(1.2);
  color: #bc04d8;
}
footer h6 {
  color: #5e006d;
}

/* pop up started here  */
.pop-main-container {
  background-color: transparent;
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 9;
  transform: scale(0);
}
.pop-container {
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  border-radius: 30px;
  overflow: hidden;

  width: 768px;
  max-width: 100%;
  min-height: 480px;
}
.pop-container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.pop-container span {
  font-size: 12px;
}

.pop-container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.pop-container button {
  background-color: #5e006d;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.pop-container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.pop-container .popup-form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.pop-container .pop-input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.pop-container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.pop-container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.pop-container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #9505ac;
  height: 100%;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.pop-container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.pop-container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.pop-container.active .toggle-right {
  transform: translateX(200%);
}
@media screen and (max-width: 1525px) {
}

@media screen and (max-width: 1350px) {

}

@media screen and (max-width: 1225px) {

  .header{
    padding: 0 120px;
  }
  .main {
    height: 95vh;
    padding: 0 120px;
  }
  .left-section , .right-section{
    height: 100%;
  }

  .shapes {
    grid-template-columns: 210px 210px;
    grid-template-rows: 210px 210px;
  }
  .shapes .shap {
    height: 200px;
    width: 200px;
  }
  .shapes .circle img {
    height: 240px;
  }
  .shapes .semi-rectangle img {
    height: 240px;
}
footer{
  padding: 0 120px;
}
.animate-circles {
  height:100vh;
}
.pop-main-container {
  height: 100vh;
}
}

@media screen and (max-width: 1111px) {
  body {
    height: 90vh;
  }
  .header{
    padding: 0 100px;
  }
  .main {
    height: 100vh;
    padding: 0 100px;
  }
  .left-section {
    height: 100%;
  }
  .right-section{
    height: 100%;
  }
  footer{
    padding: 0 100px;
  }
  .animate-circles {
    height:100vh;
  }
  .pop-main-container {
    height: 100vh;
  }
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 848px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 572px) {
}

@media screen and (max-width: 425px) {
  .header{
    padding: 0 20px;
    position: relative;
  }
  .header h2 a {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .nav ul li {
    font-size: 0.9rem;
  }
  .main {
    padding: 0 20px;
  }
  .main-container {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .text-container h3 {
    font-size: 30px;
   }
  .text-container h2 {
    font-size: 50px;
  }
  .shapes {
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
  }
  .shapes .shap {
    height: 140px;
    width: 140px;
  }
  .shapes .circle img {
    height: 180px;
  }
  .shapes .semi-rectangle img {
    height: 180px;
}
footer {
  padding: 0 20px;
  height: 40px;
}
.social-media-footer a i {
  font-size: 1rem;
}
footer h6 {
  color: #5e006d;
  font-size: 0.5rem;
}

@media screen and (max-width: 345px) {
}

/* Keyframes for wind-like bubble effect */
@keyframes bubble {
  0%,
  100% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-10px) rotate(20deg);
  }
}

/* Styling for the bubbles */
/* .bubble-animation {
  display: inline-block;
  position: relative;
  font-size: 24px;
  margin-right: 10px;
}

.dot { */
/* margin: 0 4px; Adjust the space between dots */
/* } */
/* 
.dot::before {
  content: ".";
  position: absolute;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

Apply animation to each dot in ascending order
.dot:nth-child(1)::before {
  animation: bubble 1.5s ease-in-out infinite;
}

.dot:nth-child(2)::before {
  animation: bubble 1.5s ease-in-out infinite;
  animation-delay: 0.3s; Delay for the second dot
}

.dot:nth-child(3)::before {
  animation: bubble 1.5s ease-in-out infinite;
  animation-delay: 0.6s; Delay for the third dot
}
.dot:nth-child(4)::before {
  animation: bubble 1.5s ease-in-out infinite;
  animation-delay: 0.9s; Delay for the third dot
}
.dot:nth-child(5)::before {
  animation: bubble 1.5s ease-in-out infinite;
  animation-delay: 1.2s; Delay for the third dot
}
.dot:nth-child(6)::before {
  animation: bubble 1.5s ease-in-out infinite;
  animation-delay: 1.5s; Delay for the third dot
}


 */
